.sidebar {
    background-color: #e9ecef;
    padding-left: 15px;
    padding-right: 15px;
}
h5{
    color:black;
}
.nav-link {
    color: #000000;
    margin-bottom: 8px;
}

.nav-link:hover {
    background-color: #e9ecef; /* Keep the background color the same on hover */
}

.nav-link:hover i,
.nav-link:hover span {
    color:  #e74c3c; /* Change the text and icon color to green on hover */
}

.nav-link i {
    margin-right: 10px;
}

.nav-link span {
    font-size: 16px;
}
